.map{
    overflow : hidden;
}

.map__image {
    width : 50%;
    float : left;
}  

.map__image path{
    stroke: #FFF;
    stroke-width: 1px;
    transition : fill 0.3s; 
}

#legende {
    /* Styles CSS pour la légende */
    background-color: white;
    border: 1px solid rgb(255, 254, 254);
    padding: 10px;
    max-width: 300px;
}

.legende-couleur {
    /* Styles CSS pour les couleurs de la légende */
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}  